* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light: #FFFFFF;
    --bg-dark: hsl(var(--base-color), 5%, 7%);

    --base-color: 240;
    --bg-cards-light: hsl(var(--base-color), 9%, 89%);
    --bg-cards-dark: hsl(var(--base-color), 6%, 17%);
    --bg-cards-select: hsl(194, 97%, 31%);
    --controls-dark: hsl(var(--base-color), 7%, 78%);

    --text-light: hsl(var(--base-color), 6%, 21%);
    --text-dark: #FFFFFF;

    font-size: 62.5%;
}

body {
    background-color: var(--bg-light);
    color: var(--text-light);
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    transition: background-color .5s ease;
}

button {
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.container {
    display: grid;
    grid-template-areas: "main aside";

    width: clamp(54.7rem, 64.1vw, 82.1rem);
}

header {
    position: absolute;
    top: clamp(4rem, 4.7vw, 6rem);
    right: clamp(4rem, 4.7vw, 6rem);
}

header button svg {
    width: clamp(2.7rem, 3.1vw, 4rem);
    height: auto;
}

.hide {
    display: none;
}

main {
    grid-area: main;

    width: clamp(21.4rem, 25.1vw, 32.1rem);

    align-self: center;
}

#timer {
    font-size: clamp(8.4rem, 9.8vw, 12.6rem);

    display: flex;
    margin-bottom: 1.7rem;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(2.7rem, 3.1vw, 4rem);
}

#controls button svg {
    width: clamp(3.2rem, 3.8vw, 4.8rem);
    height: auto;
}

aside {
    grid-area: aside;

    width: clamp(20.5rem, 24.1vw, 30.8rem);

    display: grid;
    grid-template-areas: "forest rain" "coffee-shop fireplace";
    gap: clamp(2.1rem, 2.5vw, 3.2rem);
    justify-self: right;
}

aside button svg {
    width: clamp(9.2rem, 10.8vw, 13.8rem);
    height: auto;
}

aside button svg path:nth-child(1) {
    fill: var(--bg-cards-light);

    transition: fill .5s ease;
}

aside button svg path:nth-child(2) {
    fill: var(--text-light);
}

aside button.active svg path:nth-child(1) {
    fill: var(--bg-cards-select);
}

aside button.active svg path:nth-child(2) {
    fill: var(--bg-light);
}

.sound-forest {
    grid-area: forest;
}

.sound-rain {
    grid-area: rain;
}

.sound-coffee-shop {
    grid-area: coffee-shop;
}

.sound-fireplace {
    grid-area: fireplace;
}

/* Dark Mode */

body.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-dark);

    transition: background-color .5s ease;
}

body.dark-mode #controls button svg path {
    fill: var(--controls-dark);
}

body.dark-mode aside button svg path:nth-child(1) {
    fill: var(--bg-cards-dark);

    transition: fill .5s ease;
}

body.dark-mode aside button svg path:nth-child(2) {
    fill: var(--bg-light);
}

body.dark-mode aside button.active svg path:nth-child(1) {
    fill: var(--bg-cards-select);
}